<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body id="page-top">

  <%- include('partials/navSection.ejs') %>

               <!-- Begin Page Content -->
               <div class="container-fluid">
                <a clas="mb-2" href="/">Dashboard</a>
                <% let emptyrooms = 0 %>
                <!-- Page Heading -->
                <% rooms.forEach(obj => { %>                         

                  <% if (obj.details == null || obj.details == undefined){ %>
                    <% emptyrooms += 1 %>
                    <% } %>
                <% }) %>
                <div class="card shadow mb-4">
                  <div class="card-body">
                    <h1 class="h3 mb-2 mb-4 pl-4 pt-4 text-gray-800"><%= building.name %></h1>
                      <ul>
                        <li><strong>Address:</strong> <%= building.address %>, <%= building.location %></li>
                        <li><strong>Capacity:</strong> <%= building.rooms.length %></li>
                        <li><strong>Empty Rooms:</strong> <%= emptyrooms %></li>
                        <li><strong>Staff:</strong> <%= building.staff %></li>
                        <li><strong>Client:</strong> <%= building.client %></li>
                        <li><a href="/updateBuilding/<%= building._id %>">Update building</a></li>
                        <li><a href="/checkoutList/<%= building._id %>">Checkout List</a></li>
                      </ul>
                  </div>
              </div>

               <!-- DataTales Example -->
               <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                      <div class="row align-items-center justify-content-between pb-1">
                        <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 pl-2 navbar-search">
                          <div class="input-group pb-3">
                            <input type="text" class="form-control bg-light border-0 small shadow-none" placeholder="Search...">
                              <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                                </button>
                              </div>
                            </div>
                        </form>
                      </div>

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none show">
                          <a class="nav-link dropdown-toggle text-gray-500 pl-3 pb-3" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fas fa-search fa-fw"></i>
                          </a>
                          <!-- Dropdown - Messages -->
                          <div class="dropdown-menu dropdown-menu-right p-3 shadow" aria-labelledby="searchDropdown">
                              <form class="form-inline mr-auto w-100 navbar-search">
                                  <div class="input-group">
                                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                      <div class="input-group-append">
                                          <button class="btn btn-primary" type="button">
                                              <i class="fas fa-search fa-sm"></i>
                                          </button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </li>
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            
                              <thead>
                                <tr>
                                  <th class="text-center">Room</th>
                                  <th>Name</th>
                                  <th class="mediumfont">IN / OUT</th>
                                  <th>Last Seen</th>                                 
                                  <td></td>   
                                </tr>
                              </thead>
                              <tbody>
           

                               <% rooms.forEach(obj => { %>                         
                                        
                                <% if (obj.details == null || obj.details == undefined || obj.details.listed == false ){ %>
                                <tr>
                                  <th class="text-center"><%= obj.room %></th>
                                  <th class="font-weight-light" >Empty Room</th>
                                  <th></th>
                                  <th></th>
                                  <th class="cursor-pointer bg-success text-center" onclick="window.location='/newResident/<%= building._id %>/<%= obj.room %>'"><span class="fa fa-plus text-white"></span></th>
                                </tr>
                                  <%}else{%>
                                <tr>
                                  <th class="text-center cursor-pointer"onClick="window.location='/resident/<%= obj.details._id %>'"><%= obj.room %></th>
                                  <th class="cursor-pointer"onClick="window.location='/resident/<%= obj.details._id %>'"> <%= obj.details.name %></th>
                                  <th>
                                    <form action="/seen/<%= building._id %>/<%= obj.details._id %>?_method=PUT"" method="POST" class="d-flex justify-content-around">
                                      <button class="fs-6 in-out" type="submit" name="seenBtn" value="IN"><span>IN</span></button><button class="in-out fs-6" type="submit" name="seenBtn" value="OUT"><span>OUT</span></button>
                                    </form>
                                  </th>
                                  <th class="text-center"> <span><%= obj.details.seen[obj.details.seen.length -1].seenTime.slice(11, 17)%></span> - <span><%= obj.details.seen[obj.details.seen.length -1].currentlySeen%></span></th>
                                  <td class="fetch-resident cursor-pointer bg-danger text-center" class="clickable" data-attribute="<%= obj.details._id%>" data-toggle="modal" data-target="#exampleModal<%= obj.details._id%>">
                                    <i class="fa fa-ban text-white"></i>
                                  </td>                                        
                                </tr>
                                <div class="modal fade" id="exampleModal<%=obj.details._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                  aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Remove Resident</h5>
                                              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">×</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">Are you sure you want to checkout <%= obj.details.name %>?</div>
                                          <form action="/remove/<%=building._id%>/<%= obj.details._id %>?_method=PUT" method="POST">
                                          <div class="form-group">
                                            <input type="text" class="form-control form-control-user"  placeholder="Reason for checkout" name="checkout" required="true">
                                        </div>
                                          <div class="modal-footer">
                                              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                             
                                                <button type="submit" class="btn btn-primary">Confirm</button>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                                 <%}%>
                              <%})%>
                              </tbody>

                          </table>
                      </div>
                      
                  </div>
              </div>
             
          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
       


           <!-- Footer -->
           <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Liam Segura 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Main js -->
<script src='/js/main.js'></script>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>
<!-- reloads page where it left off -->
<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
      var scrollpos = localStorage.getItem('scrollpos');
      if (scrollpos) window.scrollTo(0, scrollpos);
  });

  window.onbeforeunload = function(e) {
      localStorage.setItem('scrollpos', window.scrollY);
  };
</script>
</body>

</html>