<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body id="page-top">

  <%- include('partials/navSection.ejs') %>

               <!-- Begin Page Content -->
               <div class="container-fluid">

                <!-- Page Heading -->
                

                <div class="card shadow mb-4">
                  <div class="card-body">
                    <h1 class="h3 mb-2 mb-4 text-gray-800"><%= building.name %></h1>
                      <ul>
                        <li>Address: <%= building.address %></li>
                        <li>Rooms: <%= building.rooms.length %></li>
                        <li>Staff: <%= building.staff %></li>
                      </ul>
                  </div>
              </div>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Resident list</h6>
                    </div>
                  <div class="card-body">
                      <div class="table-responsive">
                        <div class="row align-items-center justify-content-between pb-3">
                          <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 pl-2 navbar-search">
                            <div class="input-group">
                              <input type="text" class="form-control bg-light border-0 small shadow-none" placeholder="Search...">
                                <div class="input-group-append">
                                  <button class="btn btn-primary" type="button">
                                  <i class="fas fa-search fa-sm"></i>
                                  </button>
                                </div>
                              </div>
                          </form>
                        </div>
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>Name</th>
                                  <th>Room</th>
                                  <th>Last Seen</th>
                                  <td></td>   
                                </tr>
                              </thead>
                              <tbody>

                               <% rooms.forEach(obj => { %>                         
                                <tr>
                                  <th class="text-center"><%= obj.room %></th>
                                <% if (obj.details == null || obj.details == undefined){ %>
                                  <th>Empty Room</th>
                                  <th>test</th>
                                  <th>test</th>
                                  <th class="cursor-pointer bg-success text-center" onclick="window.location='/newBuilding'"><span class="fa fa-plus text-white"></span></th>
                                <%}else{%>
                                  <th> <%= obj.details %></th>
                                  <th><%= obj.room %></th>
                                  <th><%= obj.room %></th>
                                  <td class="cursor-pointer bg-danger text-center">
                                    <form action="/building/<%= building._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="fa fa-ban text-white bg-none">
                                    </button>
                                </form></td>  
                                 <%}%>
                                
                            
                               
                              <%})%>
                              </tbody>

                          </table>
                      </div>
                  </div>
              </div>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

<%- include('partials/footer.ejs') %>